<%- include('templates/navbar.ejs') %>

<div class="container mt-5 position-relative mx-auto">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <%- message() %>
    </div>
  </div>
</div>

<div class="container position-relative mx-auto">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="jumbotron bg-dark">
        <h1 class="text-white">Example Tutorial Express for Beginner</h1>
        <a href="https://bit.ly/39ECzWz" class="btn btn-primary mt-3 font-weight-bold" target="_blank"
          >More Tutorial</a
        >
      </div>
    </div>
  </div>
</div>

<%- include('templates/footer.ejs') %>
